@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --primary: #161616;
  --secondary: #989898;
  --terceary: #bbbbbb;
  --white: #fff;

  --paddingMain: 100px;

  --fontXLarge: 48px;
  --fontLarge: 24px;
  --fontMedium: 18px;
  --fontSmall: 16px;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

body,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}